/** header **/
.Header {
  width: 100%;
  height: 75px;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  position: relative;
}

.Header ul {
  width: 100%;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Header ul li {
  display: flex;
  align-content: center;
  padding: 7px;
}

.Header ul li a {
  text-decoration: none;
  color: #808080;
}

.Header ul li:last-child {
  background-color: #92d3c4;
  border-radius: 5px;
}

.Header ul li:last-child:hover {
  background-color: #42A48D;
}

.Header ul li:last-child a {
  color: #fff;
}

@media (min-width: 901px) and (max-width: 1440px;) {

  .Header {
    /* remove the default scrollbar for webkit implementations */
    white-space: nowrap;
    /* Make this scrollable when needed */
    overflow-x: auto;
     /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
     /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .Header ul::-webkit-scrollbar {
    display: none;
  }
}
