.Section {
  border-top: 2px solid #f2f2f2;
  width: 100%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Section .top-left,
.Section .top-right,
.Section .bottom-left,
.Section .bottom-right {
  width: 488px;
  height: 255px;
  display: flex;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.Section .top-left-img,
.Section .top-right-img,
.Section .bottom-left-img,
.Section .bottom-right-img {
  width: 200px;
  height: 255px;
}

.Section .top-left-img {
  background-image: url(../../images/medium-image-puff-1.jpeg);
}

.Section .top-right-img {
  background-image: url(../../images/medium-image-puff-2.png);
}

.Section .bottom-left-img {
  background-image: url(../../images/medium-image-puff-4.jpeg);
}

.Section .bottom-right-img {
  background-image: url(../../images/medium-image-puff-3.png);
}

.Section .top-left-img,
.Section .top-right-img,
.Section .bottom-left-img,
.Section .bottom-right-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Section .top-left-text,
.Section .top-right-text,
.Section .bottom-left-text,
.Section .bottom-right-text {
  width: 288px;
  position: relative;
  font-size: small;
  padding: 16px;
}

.Section .writer-1,
.Section .writer-2 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 200px;
}

.Section .writer-3,
.Section .writer-4 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  bottom: 10px;
}

.Section .name-writer-1,
.Section .name-writer-2,
.Section .name-writer-3,
.Section .name-writer-4 {
  position: absolute;
  top: 185px;
  left: 70px;
}

.Section .bookmark {
  position: absolute;
  top: 210px;
  left: 250px;
}

@media (max-width: 1440px) {
  .Section {
    width: 100%;
  }

  .Section .top-left,
  .Section .top-right,
  .Section .bottom-left,
  .Section .bottom-right {
    flex-direction: column;
    width: 100%;
    height: 328px;
    margin: 1em 0;
  }

  .Section .top-left-img,
  .Section .top-right-img,
  .Section .bottom-left-img,
  .Section .bottom-right-img {
    width: 100%;
    height: 170px;
  }

  .Section .top-left-text,
  .Section .top-right-text,
  .Section .bottom-left-text,
  .Section .bottom-right-text {
    width: 100%;
    height: 158px;
    position: relative;
    font-size: x-small;
  }

  .Section .writer-1,
  .Section .writer-2,
  .Section .writer-3,
  .Section .writer-4 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 100px;
  }

  .Section .name-writer-1,
  .Section .name-writer-2,
  .Section .name-writer-3,
  .Section .name-writer-4 {
    position: absolute;
    top: 85px;
    left: 70px;
  }

  .Section .bookmark {
    position: absolute;
    top: 115px;
    right: 0;
  }

}

@media (min-width: 601px) and (max-width: 900px) {
  .Section {
    width: 100%;
  }

  .Section .top-left,
  .Section .top-right,
  .Section .bottom-left,
  .Section .bottom-right {
    flex-direction: column;
    width: 100%;
    height: 328px;
    margin: 1em 0;
  }

  .Section .top-left-img,
  .Section .top-right-img,
  .Section .bottom-left-img,
  .Section .bottom-right-img {
    width: 100%;
    height: 170px;
  }

  .Section .top-left-text,
  .Section .top-right-text,
  .Section .bottom-left-text,
  .Section .bottom-right-text {
    width: 100%;
    height: 158px;
    position: relative;
    font-size: x-small;
  }

  .Section .writer-1,
  .Section .writer-2,
  .Section .writer-3,
  .Section .writer-4 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 100px;
  }

  .Section .name-writer-1,
  .Section .name-writer-2,
  .Section .name-writer-3,
  .Section .name-writer-4 {
    position: absolute;
    top: 85px;
    left: 70px;
  }

  .Section .bookmark {
    position: absolute;
    top: 115px;
    right: 0;
  }

}

@media (max-width: 600px) {
  .Section {
    width: 100%;
  }

  .Section .top-left,
  .Section .top-right,
  .Section .bottom-left,
  .Section .bottom-right {
    flex-direction: column;
    width: 100%;
    height: 328px;
    margin: 1em 0;
  }

  .Section .top-left-img,
  .Section .top-right-img,
  .Section .bottom-left-img,
  .Section .bottom-right-img {
    width: 100%;
    height: 170px;
  }

  .Section .top-left-text,
  .Section .top-right-text,
  .Section .bottom-left-text,
  .Section .bottom-right-text {
    width: 100%;
    height: 158px;
    position: relative;
    font-size: x-small;
  }

  .Section .writer-1,
  .Section .writer-2,
  .Section .writer-3,
  .Section .writer-4 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 100px;
  }

  .Section .name-writer-1,
  .Section .name-writer-2,
  .Section .name-writer-3,
  .Section .name-writer-4 {
    position: absolute;
    top: 85px;
    left: 70px;
  }

  .Section .bookmark {
    position: absolute;
    top: 115px;
    right: 0;
  }
}
