* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #e6ffe6;
  margin: 0 110px;
  padding: 0 110px;
}

.App {
  font-size: 100%;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  margin: auto;
}

@media (max-width: 1440px) {
  body {
    margin: 0 10px;
    padding: 0 10px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  body {
    margin: 0 10px;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0 10px;
    padding: 0 10px;
  }
}
